@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;

}

header {
  /* border: 1px solid; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
  height: 70px;
  z-index: 10;
}

header h1 {
  font-family: 'Tagesschrift', sans-serif;
  font-size: 2.5rem;
  color: inherit;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  justify-content: center;
  text-align: center; 

  font-family: "Tagesschrift", system-ui;
}

ul li a{
  text-decoration: none;
  color: #ffff;
}

.btn-container {
  display: flex;
  justify-content: end;
  position: relative;
}

.btn-container button {
  width: 100px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}


nav ul li a:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.btn-container button:hover {
  opacity: 0.5;
  transition: opacity 0.15s;
}

  .btn-container img {
    width: 40px;
    height: 40px;

    position: absolute;
    right: -20px;
    top: -10px;
    opacity: 0;

  }

  .btn-container button:hover + img {
    opacity: 1;
  }


/* GRADIENT AND LAYER BLUR EFFECT */

.image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.layer-blur {
  height: 0;
  width: 30rem;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -1;

}


/* Hero Section */

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1500px;
  margin: 0 auto;
}

.content {
  
}