

* {
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  justify-content: center;
  text-align: center;

  border: 1px solid;
}



